/* navbar styles */
.navbar {
  width: 100%;
  background: rgb(0, 0, 0);
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.title {
  font-weight: 900;
  font-size: 2rem;
}

.image {
  width: 10vw;
}

.image:hover {
  cursor: pointer;
}

.navbar a {
  color: #999999;
  text-decoration: none;
  transition: 4s;
}

.navbar a:hover {
  color: rgb(64, 213, 233);
  transition: 0.5s;
}
