.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  width: 60%;
  margin: 10vh auto;
  background: rgb(0, 255, 16);
  background: linear-gradient(
    180deg,
    rgba(0, 255, 16, 1) 0%,
    rgba(163, 163, 163, 0.9139005944174545) 49%,
    rgba(232, 232, 232, 1) 83%
  );
  border-radius: 10px;
  -webkit-box-shadow: -9px 14px 19px 10px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: -9px 14px 19px 10px rgba(0, 0, 0, 0.96);
  box-shadow: -9px 14px 19px 10px rgba(0, 0, 0, 0.96);
}

.image {
  width: 33%;
  align-self: flex-start;
}

.pic {
  vertical-align: top;
  width: 100%;
}

.details {
  width: 66%;
  margin-left: 2vw;
  color: #333;
  line-height: 2.5;
}
